/* ## Colors */
 /* ### Primary  */

  :root{
--Soft-blue:hsl(215, 51%, 70%);
 --Cyan:hsl(178, 100%, 50%);

/* ### Neutral  */
--Very-dark-blue-mainBG: hsl(217, 54%, 11%);
 --Very-dark-blue-cardBG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
   --White:hsl(0, 0%, 100%);
   
   /* --typography */
 --Font-size-paragraph: 18px;
--Family: [Outfit](https: //fonts.google.com/specimen/Outfit);
           

--fw-light:300;
--fw-balanced:400;
--fw-strong:600;
 }
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 .flexCol{
    display: flex;
    flex-direction: column;
gap: 1rem;
 }
.flex{
display: flex;
gap: 5px;
align-items: center;
 }
 .justifyContent{
    justify-content: space-between;
 }
 .fontColor{
    color: var(--Cyan);
 }

 .fw{
    font-weight: var(--fw-strong);
    font-size: 15px;
 }
 

body{
    background-color: var(--Very-dark-blue-mainBG);
  display: flex;
  justify-content: center;
  align-items: center;
   height: 100vh;


}



.card{
    
    border-radius: 20px;
    background-color: var(--Very-dark-blue-cardBG);
    width: min-content;
    padding: 1.5rem;
    
}
.nftLogo{
    overflow: hidden;
    width: 290px;
    margin-bottom: 5px;
    border-radius: 10px;
    
    
}
img{
    width: 290px;
}

.nftLogo::before{
    content: "";
    position: absolute;
    width: 290px;
    height: 290px;
    background-color:hsla(178,100%,50%,.4);
    z-index: 99;
    opacity: 0;
}
.nftLogo::after{
    content: url("./images/icon-view.svg");
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 999999;
    opacity: 0;
}
.nftLogo:hover::after,.nftLogo:hover::before{
    opacity: 1;
    cursor: pointer;
}

.info{
    padding-bottom: 15px;
border-bottom: 1px solid white;
}
.creator img{
    width: 30px;
  border-radius: 50%;
    border: 1px solid white;
}
h1{
    font-size:1.5rem;
    color: white;
    font-weight: var(--fw-strong);
    font-family: "Outfit", sans-serif;
    
}
p{
    font-size: 18px;
    color: var(--Soft-blue);
    font-family: "Outfit", sans-serif;
    font-weight: var(--fw-light);

}


h1:hover{
color: var(--Cyan);
cursor: pointer;
}




span:hover{
color: var(--Cyan);
cursor: pointer;
}
